# Backend
APP_NAME=infracciones-api
PORT=3000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=5434
DB_USERNAME=infracciones_user
DB_PASSWORD=change_me
DB_DATABASE=control_infracciones_db
DB_SYNCHRONIZE=false
DB_LOGGING=false

# Frontend
VITE_APP_NAME=control-infracciones-encierros
VITE_API_BASE_URL=http://localhost:3000

# PostgreSQL
POSTGRES_DB=control_infracciones_db
POSTGRES_USER=infracciones_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5434
